RewriteEngine On

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.mathematika20\.ru$ [NC]
RewriteRule ^(.*)$ https://mathematika20.ru/$1 [R=301,L]

RewriteCond %{THE_REQUEST} \s/+index\.html[\s?] [NC]
RewriteRule ^index\.html$ https://mathematika20.ru/ [R=301,L]
